
 .heading_img img{    
   border-radius: 30px;
   display:inline;
   width: 120px;
   height: 120px;
   float: right;
   margin: 80px 50px;
   border-radius: 60px;
   transition: width 2s,height 2s,transform 2s;
   align:'left';
 }
 
 .heading_img img:hover{     
   box-shadow: 0 1px 1px  lightblue;
   float: right;
   border-radius: 60px;
   transform: rotate(360deg) scale(2,2);
 }
 
 @font-face{
   font-family:'sj';
   src:url("../font/sj.ttf");
 }
a:link,a:visited{
	   font-weight: bold;
	   text-align: center;
	   padding:6px;
	   text-decoration: none;
	   font-size:20px;
	   font-family: 'sj';
	 }
a:hover,a:active{
   font-size: 30px;
 }